@import "classes/classes.less";
@import "mixins/mixins.less";
@import "themes/themes.less";
@import "variables/variables.less";

body {
    .fill();
    margin: 0;
}

main {
    .fill();

    .sequencer {
        .fill();

        .sequence-menu-view {
            position: fixed;
            .topleft(0, 0);
            right: 0;
            height: @menu-height;
            opacity: 1;
            z-index: 100;
            .transition(opacity, 0.25s);

            .menu-option {
                position: relative;
                display: inline-block;
                .size(auto, @menu-height);
                margin: 0 5px;
                padding: 0 10px;
                line-height: @menu-height;
                .font(Arial, 15px, bold);
                .transition(background-color, 0.05s);

                &.expanded {
                    z-index: 2;
                }

                ul.dropdown-menu {
                    min-width: 200px;

                    li.dropdown-option {
                        height: 25px;
                        line-height: 25px;
                    }
                }
            }
        }

        .sequence-view {
            .fill();

            .add-channel-panel {
                position: absolute;
                .size(70%, 100px);
                .topleft(100px, 15%);
                opacity: 0.6;
                z-index: 10;
                .transition(opacity, 0.2s);

                &:hover {
                    opacity: 1;
                }

                .add-channel-button {
                    position: relative;
                    .size(@add-channel-button-size + 100px, @add-channel-button-size);
                    margin: ((100px - @add-channel-button-size) / 2) auto;
                    border-radius: 5px;
                    .border(0, 1px solid #000, 4px solid #000, 1px solid #000);
                    .font(Arial, 50px, bold);
                    line-height: @add-channel-button-size;
                    .transform(scale(0.9));
                    .transition-transform(0.2s, @ease-out-quart);

                    &:hover {
                        .transform(scale(1));
                    }

                    &:active {
                        .transform(scale(0.9));
                    }
                }
            }

            #channels {
                .fill();

                .channel {
                    position: absolute;
                    .size(75%, @channel-height);
                    left: 15%;
                    border-radius: 5px;
                    .origin(50%, 0);
                    .transform(scale(0));
                    .transition-transform(0.5s, @ease-in-out-cubic);

                    &:not(.hidden) {
                        .transform(scale(1));
                    }

                    .channel-top-bar {
                        position: relative;
                        .topleft(0, 0);
                        .size(100%, @channel-top-bar-height);
                        .border-radius(5px, 5px, 0, 0);
                    }

                    .channel-content {
                        position: relative;
                        .size(100%, (@channel-height - @channel-top-bar-height));
                        .border-radius(0, 0, 5px, 5px);
                        z-index: 2;
                    }
                }
            }
        }
    }
}