@import "../core/mixins/base.less";

/* @ main-blue @ */
@main-blue: #68C;

@main-blue-L10: lighten(@main-blue, 10%);
@main-blue-L15: lighten(@main-blue, 15%);
@main-blue-L20: lighten(@main-blue, 20%);
@main-blue-L25: lighten(@main-blue, 25%);
@main-blue-L30: lighten(@main-blue, 30%);

@main-blue-D20: darken(@main-blue, 20%);
@main-blue-D30: darken(@main-blue, 30%);

/* @ main-gray @ */
@main-gray: #BBB;

@main-gray-L10: lighten(@main-gray, 10%);

@main-gray-D10: darken(@main-gray, 10%);
@main-gray-D20: darken(@main-gray, 20%);
@main-gray-D40: darken(@main-gray, 40%);

.sequencer {
    &.main {
        background: @main-blue-L30;

        .sequence-menu-view {
            background: @main-blue;
            box-shadow: 0 0 4px 2px @main-blue-L20;

            .menu-option {
                background-color: @main-blue;
                color: #FFF;

                &:hover,
                &.expanded {
                    background-color: @main-blue-L10;
                    text-shadow: 0 0 2px @main-blue;
                }

                ul.dropdown-menu {
                    background-color: @main-blue-L10;
                    box-shadow: 0 0 4px 0 @main-blue-D20;

                    li.divider {
                        border-color: @main-blue-L15;
                    }

                    li.dropdown-option {
                        background-color: @main-blue-L10;
                        color: #FFF;

                        &:hover {
                            background-color: @main-blue-L20;
                        }
                    }
                }
            }
        }

        .sequence-view {
            .button-panel {
                .button-column {
                    &.resize {
                        .expand,
                        .compress {
                            button {
                                background-color: @main-gray;
                                box-shadow: 0 0 0 1px @main-gray-D20;
                                .border(0, 0, 1px solid #FFF, 0);
                            }

                            i.fa {
                                text-shadow: 1px -1px 0 @main-gray-L10;
                            }
                        }
                    }

                    &.jump {
                        .up,
                        .down {
                            button {
                                background-color: @main-gray-D20;
                                box-shadow: 0 0 0 1px @main-gray-D40;
                                .border(0, 0, 1px solid @main-gray-D10, 0);
                            }

                            i.fa {
                                text-shadow: 0 -1px 0 @main-gray;
                            }
                        }
                    }
                }

                button.add-channel {
                    @border-color: desaturate(@main-blue-D20, 20%);
                    @border-1px: 1px solid @border-color;
                    @border-4px: 4px solid @border-color;

                    background-color: @main-blue;
                    .border(0, @border-1px, @border-4px, @border-1px);
                    color: #FFF;
                    text-shadow: 0 -1px 0 @main-blue-D20;
                }
            }

            #channel-views {
                .channel {
                    box-shadow: 0 0 0 4px #FFF;

                    .channel-top-bar {
                        background-color: @main-gray;
                        box-shadow: 0 0 5px 0px @main-gray-D20 inset;

                        .channel-label {
                            color: #FFF;
                        }
                    }

                    .channel-content {
                        background-color: @main-blue-L25;

                        canvas.channel-sequence {
                            @canvas-border: 3px solid @main-blue-L10;

                            .border(@canvas-border, 0, @canvas-border, 0);
                        }
                    }
                }
            }
        }
    }
}