@import "../core/mixins/base.less";

/* @ night-purple @ */
@night-purple: #316;

@night-purple-L10: lighten(@night-purple, 10%);
@night-purple-L20: lighten(@night-purple, 20%);
@night-purple-L25: lighten(@night-purple, 25%);
@night-purple-L30: lighten(@night-purple, 30%);
@night-purple-L60: lighten(@night-purple, 60%);

@night-purple-D10: darken(@night-purple, 10%);
@night-purple-D20: darken(@night-purple, 20%);
@night-purple-D30: darken(@night-purple, 30%);

/* @ night-pink @ */
@night-pink: #FDF;

.sequencer {
    &.night {
        background: @night-purple-L60;

        .sequence-menu-view {
            background: @night-purple;
            box-shadow: 0 0 4px 2px @night-purple-L30;

            .menu-option {
                background-color: @night-purple;
                color: @night-pink;

                &:hover,
                &.expanded {
                    background-color: @night-purple-L10;
                    text-shadow: 0 0 2px @night-purple;
                }

                ul.dropdown-menu {
                    background-color: @night-purple-L10;
                    box-shadow: 0 0 4px 0 @night-purple-D20;

                    li.divider {
                        border-color: @night-purple-L20;
                    }

                    li.dropdown-option {
                        background-color: @night-purple-L10;
                        color: @night-pink;

                        &:hover {
                            background-color: @night-purple-L20;
                            color: #FFF;
                        }
                    }
                }
            }
        }

        .sequence-view {
            .add-channel-panel {
                .add-channel-button {
                    background-color: @night-purple-D10;
                    border-color: desaturate(@night-purple-D20, 20%);
                    color: @night-pink;
                    text-shadow: 0 -1px 0 #000;
                }
            }

            #channel-views {
                .channel {
                    box-shadow: 0 0 0 4px @night-pink;

                    .channel-top-bar {
                        background-color: @night-purple;
                        box-shadow: 0 0 5px 0px @night-purple-D20 inset;

                        .channel-label {
                            color: @night-pink;
                        }
                    }

                    .channel-content {
                        background-color: @night-purple-L25;

                        canvas.channel-sequence {
                            @canvas-border: 2px solid @night-purple-D10;

                            .border(@canvas-border, 0, @canvas-border, 0);
                        }
                    }
                }
            }
        }
    }
}